/*                             KEY POSITIONS

// | SW1  | SW2  | SW3  | SW4  | SW5  | SW6  |   | SW6  | SW5  | SW4  | SW3  | SW2  | SW1  |
// | SW7  | SW8  | SW9  | SW10 | SW11 | SW12 |   | SW12 | SW11 | SW10 | SW9  | SW8  | SW7  |
// | SW13 | SW14 | SW15 | SW16 | SW17 | SW18 |   | SW18 | SW17 | SW16 | SW15 | SW14 | SW13 |
//                      | SW19 | SW20 | SW21 |   | SW21 | SW20 | SW19 |
    map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
                        RC(3,3) RC(3,4) RC(3,5)  RC(3,6) RC(3,7) RC(3,8)

    ╭────────────────────────╮   ╭────────────────────────╮
    │ 0   1   2   3   4   5  │   │ 6   7   8   9   10  11 │
    │ 12  13  14  15  16  17 │   │ 18  19  20  21  22  23 │
    │ 24  25  26  27  28  29 │   │ 30  31  32  33  34  35 │
    ╰───────────╮ 36  37  38 │   │ 39  40  41 ╭───────────╯
                ╰────────────╯   ╰────────────╯                       */

compatible = "zmk,combos";

#define COMBO(NAME, TIMEOUT, BINDINGS, KEYPOS, LAYERS) \
combo_##NAME { \
  timeout-ms = <TIMEOUT>; \
  bindings = <BINDINGS>; \
  key-positions = <KEYPOS>; \
  layers = <LAYERS>; \
};


COMBO(left_index_home_top_ctrl, 80, &sk LCTL, 4 16, VUKEYS UA)
COMBO(left_middle_home_top_cmd, 80, &sk LGUI, 3 15, VUKEYS UA)
COMBO(left_ring_home_top_opt, 80, &sk LALT, 2 14, VUKEYS UA)

COMBO(right_index_home_top_ctrl, 80, &sk RCTL, 7 19, VUKEYS UA)
COMBO(right_middle_home_top_cmd, 80, &sk RGUI, 8 20, VUKEYS UA)
COMBO(right_ring_home_top_opt, 80, &sk RALT, 9 21, VUKEYS UA)

COMBO(thumbs_vukeys, 50, &m_f14_vukeys, 38 39, UA)
COMBO(thumbs_ua, 50, &m_f14_ua, 38 39, VUKEYS)

